@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    background-color: #f3f7fa;
}

.header,
.footer {
    padding: 2% 8%;
}

section {
    padding: 3% 10%;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Главная */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 120px;
    margin-right: 10px;
}

.header-logo__container {
    display: flex;
    align-items: center;
}

.header-logo__text {
    font-size: 35px;
    color: #3a3e4f;
    font-weight: bold;
}

.menu__items {
    margin-right: 25px;
}

.menu__link {
    color: #3a3e4f;
    transition: all 0.2s;
    font-size: 28px;
}

.menu__link:hover {
    color: #d83a3b;
    border-bottom: 2px solid #d83a3b;
}

span {
    color: #d83a3b;
}

.menu {
    display: flex;
}

.header__btn {
    color: #3a3e4f;
    transition: all 0.2s;
    font-size: 26px;
    margin-right: 10px;
}

.fa-key,
.fa-address-card {
    margin-right: 5px;
}

.header__btn:hover {
    color: #d83a3b;
}

/*  Секция баннер */
.banner {
    background-image: url(../img/bacground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 6%;
    margin: 2% 5%;
    border-radius: 20px;
}

.main__title {
    font-size: 40px;
    color: #f3f7fa;
    text-shadow: 5px 5px 10px #000;
    font-weight: normal;
    margin-bottom: 50px;
}

.btn {
    color: #f3f7fa;
    background-color: #d83a3b;
    padding: 15px 40px;
    border: 2px solid #d83a3b;
    border-radius: 10px;
    font-size: 26px;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:hover {
    color: #d83a3b;
    background: transparent;
    border: 2px solid #d83a3b;
}

.subtitle {
    margin-bottom: 50px;
}

.topik__title {
    background-image: url(../img/topik.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2% 3%;
    border-radius: 15px 15px 0 0;
    color: #f3f7fa;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px #000;
}

.topik-title__link {
    color: #f3f7fa;
}

.fa-windows,
.fa-apple,
.fa-microchip,
.fa-hard-drive,
.fa-window-restore,
.fa-memory,
.fa-ethernet,
.fa-wifi,
.fa-network-wired,
.fa-chart-simple,
.fa-mobile-screen-button,
.fa-laptop,
.fa-stethoscope {
    color: #d83a3b;
    font-size: 30px;
}

.topik__name,
.last-post__name {
    margin-bottom: 10px;
}

.topik-name__link {
    color: #d83a3b;
    font-weight: 600;
    transition: all 0.4s;
}

.topik-name__link:hover {
    border-bottom: 2px solid #d83a3b;
}

.last-post__author,
.topik__comment {
    font-size: 20px;
    color: #3a3e4f;
}

.topik__container {
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #3a3e4f4f;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 40px;
}

.topik__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    transition: all 0.2s;
    border-bottom: 2px solid #e0e0e0;
}

.topik-last-post__container {
    width: 50%;
}

.topik__items:hover {
    background-color: #f9fafa;
}

.topik-name__container {
    display: flex;
    align-items: center;
}

.left {
    margin-left: 40px;
}

/*  страница входа */
.login {
    padding: 0 10%;
    text-align: center;
}

.login__title {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin: 50px 0 50px 0;
}

.form__input {
    font-size: 25px;
    width: 700px;
    padding: 20px 0 20px 60px;
    position: relative;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #b2b2b2;
    outline: none;
}

.form__input:focus {
    border: 2px solid #d83a3b;
    box-shadow: 0px 0px 10px #d83a3a69;
}

.fa-user {
    color: #d83a3b;
    position: absolute;
    z-index: 100;
    top: 37.5%;
    left: 34%;
}

.fa-unlock {
    color: #d83a3b;
    position: absolute;
    z-index: 100;
    top: 65.5%;
    left: 34%;
}

.fa-lock {
    color: #d83a3b;
    position: absolute;
    z-index: 100;
    top: 51.5%;
    left: 34%;
}

.login__btn {
    width: 300px;
    margin-bottom: 40px;
}

.login__link {
    color: #d83a3b;
}

.login__link:hover {
    border-bottom: 2px solid #d83a3b;
}

/* Страница тем */
.theme__container {
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px #3a3e4f4f;
    border-radius: 15px;
}

.theme__title {
    background-image: url(../img/theme.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2% 3%;
    border-radius: 15px 15px 0 0;
    color: #f3f7fa;
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px #000;
}

.theme__items {
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    align-items: center;
    transition: all 0.2s;
    border-bottom: 2px solid #e0e0e0;
}

.theme__items:hover {
    background-color: #f9fafa;
}

.theme-name__container {
    display: flex;
    width: 50%;
    align-items: center;
}

.theme-name__link {
    color: #d83a3b;
    font-weight: 600;
    transition: all 0.4s;
}

.theme__name,
.theme-post__name {
    margin-bottom: 10px;
    font-size: 28px;
}

.theme-name__link:hover {
    border-bottom: 2px solid #d83a3b;
}

.theme-last-post__container {
    width: 40%;
}

.theme-last-post__author,
.theme__comment {
    font-size: 24px;
    color: #3a3e4f;
}

/* Страница с постом */
.post {
    padding: 1% 10%;
}

.post__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.post__img {
    width: 150%;
    margin-right: 50px;
}

.post__title {
    color: #d83a3b;
    font-size: 35px;
    margin-bottom: 20px;
}

.back__container {
    display: flex;
}

.back__link {
    color: #d83a3b;
    font-size: 35px;
    font-weight: 600;
}

.back {
    margin-bottom: 40px;
}

.category,
.post__author {
    color: #3a3e4f;
    font-size: 24px;
}

.post__text {
    margin: 40px 0;
    font-size: 28px;
}

.post__comment {
    margin-left: 20%;
}

.div {
    display: flex;
    align-items: center;
}

.comment__label {
    font-size: 30px;
    margin-bottom: 30px;
}

.comment__btn {
    color: #f3f7fa;
    background-color: #d83a3b;
    padding: 15px 40px;
    margin-left: 40px;
    border: 2px solid #d83a3b;
    border-radius: 10px;
    font-size: 26px;
    cursor: pointer;
    transition: all 0.2s;
}

.comment__btn:hover {
    color: #d83a3b;
    background: transparent;
    border: 2px solid #d83a3b;
}

.comment__input {
    font-size: 25px;
    width: 700px;
    padding: 20px;
    position: relative;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #b2b2b2;
    outline: none;
}

.comment__input:focus {
    border: 2px solid #d83a3b;
    box-shadow: 0px 0px 10px #d83a3a69;
}

.post__answer {
    width: 70%;
    margin: 40px auto;
}

.answer__title {
    margin-left: 15%;
    color: #d83a3b;
    margin-top: 40px;
    font-size: 35px;
}

.answer__author {
    margin: 30px 0;
}

/* Страница новый пост */
.new-post {
    padding: 2% 10%;
    background-image: url(../img/form.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    margin: 0 10%;
}
.new-post__form {
    text-align: center;
}
.new-post__title {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
}
.new-post__label {
    font-size: 28px;
}
.new-post__input {
    font-size: 25px;
    width: 700px;
    padding: 20px;
    margin: 20px 0;
    position: relative;
    border-radius: 10px;
    border: 2px solid #b2b2b2;
    outline: none;
}
.new-post__input:focus {
    border: 2px solid #d83a3b;
    box-shadow: 0px 0px 10px #d83a3a69;
}
/*  кнопка выбора изображения */
.field__wrapper {
    width: 57%;
    position: relative;
    margin: 1% 21.5% ;
    text-align: center;
}
.field__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.field__file-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.field__file-fake {
    height: 60px;
    width: calc(100% - 130px);
    color: #949494;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
    border: 1px solid #c7c7c7;
    border-radius: 10px 0 0 10px;
    border-right: none;
}
.field__file-button {
    width: 130px;
    height: 60px;
    background: #d83a3b;
    color: #fff;
    font-size: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
/* селект */
.new-post__select{
    font-size: 25px;
    width: 700px;
    padding: 15px;
    margin: 20px 0;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #b2b2b2;
    outline: none;
    color: #949494;
}
.new-post__btn{
    margin-top: 30px;
    width: 300px;
}
/* Страница пользовтаели */
.users{
    padding: 1% 10%;
}
.users__title{
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}
.user__table{
    width: 100%;
    border-collapse: collapse;
    margin-left: 15%;
}
.user-table__title{
    text-align: left;
    padding: 30px 30px;
    background-image: url(../img/topik.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    font-size: 28px;
    text-shadow: 5px 5px 10px #000;
    border-radius: 10px 0 0 0;
}
.corner{
    border-radius: 0 10px 0 0 ;
}
.user-table__content{
    padding: 40px 30px;
    font-size: 26px;
    background-color: #fff;
    border-bottom: 2px solid #e0e0e0;
}
.user__btn {
    color: #f3f7fa;
    background-color: #d83a3b;
    padding: 15px 40px;
    border: 2px solid #d83a3b;
    border-radius: 10px;
    font-size: 26px;
    cursor: pointer;
    margin-left: 40px;
    transition: all 0.2s;
}

.user__btn:hover {
    color: #d83a3b;
    background: transparent;
    border: 2px solid #d83a3b;
}